@tailwind base;
@tailwind components;
@tailwind utilities;



// :root {
//   --bb-green: #4a8954;
// }

// html {
//   @apply scroll-smooth;
// }

// html::selection {
//   @apply bg-bb-text text-creame-50;
// }

body {
  background: white;
  font-family: var(--font-albert-sans);
  overflow-x: hidden;
  height: 100dvh;
  @apply text-bb-text;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}