.leftSideBarItems {
  @apply flex gap-2 py-1 px-2 rounded-md border border-mm-blue-lighter cursor-pointer text-zinc-600;

  &:hover {
    @apply shadow-sm border-zinc-300 bg-mm-blue-lightest text-inherit;
  }

  &.logOut {
    @apply bg-mm-blue-mid shadow-sm border-mm-blue-dark text-mm-blue-lighter hover:bg-mm-blue-mid-dark transition duration-300 ease-in-out;
  }
}